<div id="condition">
  <h3>查询条件</h3>
  <div>云量：<nz-slider [(ngModel)]="condition.cloud"></nz-slider></div>
  <div>分辨率：<nz-slider [(ngModel)]="condition.resolution"></nz-slider></div>

  <div>
    时相范围：<nz-range-picker
      [nzShowTime]="{ nzFormat: 'HH:mm' }"
      nzFormat="yyyy-MM-dd HH:mm"
      [nzPlaceHolder]="['Start Time', 'End Time']"
      [(ngModel)]="condition.time"
    >
    </nz-range-picker>
  </div>
  <div>
    <button (click)="search()">检索</button>
  </div>
</div>

<div [style.height.px]="450" style="overflow: auto;width: 100%;">
  <span (click)="this.dataShown = 'siwei'">四维数据</span>
  <span (click)="this.dataShown = 'shijing'">世景数据</span>
  <span (click)="this.dataShown = 'obt'; getObtData()">欧比特示例数据</span>

  <table *ngIf="this.dataShown == 'siwei'">
    <tr>
      <td>影像 ID 号</td>
      <td>影像成像时间</td>
      <td>卫星 ID</td>
      <td>影像分辨率</td>
      <td>云盖量</td>
    </tr>

    <tr
      *ngFor="let item of DataCenter"
      (click)="addWebTiledLayer(item.data_id, item.data_version)"
    >
      <td>{{ item.data_id }}</td>
      <td>{{ item.image_time }}</td>
      <td>{{ item.sat_id }}</td>
      <td>{{ item.resolution }}</td>
      <td>{{ item.cloud_percent }}%</td>
    </tr>
  </table>

  <table *ngIf="this.dataShown == 'shijing'">
    <tr>
      <td>影像 ID 号</td>
      <td>影像成像时间</td>
      <td>卫星 ID</td>
      <td>影像分辨率</td>
      <td>云盖量</td>
    </tr>

    <tr
      *ngFor="let item of shijing"
      (click)="addImg(item.entityId, item.sceneId)"
    >
      <td>{{ item.entityId }}</td>
      <td>{{ item.acquireTime }}</td>
      <td>{{ item.sateId }}</td>
      <td>{{ item.resolution }}</td>
      <td>{{ item.cloudCover }}%</td>
    </tr>
  </table>

  <table *ngIf="this.dataShown == 'obt'">
    <tr>
      <td>卫星</td>
      <td>拍摄时间</td>
    </tr>
    <tr *ngFor="let item of obt" (click)="addObtImg(item)">
      <td>{{ item.satellite }}</td>
      <td>{{ item.acquisitionTime }}</td>
    </tr>
  </table>
</div>
<!--
<div [style.height.px]="450" style="overflow: auto;width: 100%;">
  <span>世景数据</span>
  <table>
    <tr>
      <td>影像 ID 号</td>
      <td>影像成像时间</td>
      <td>卫星 ID</td>
      <td>影像分辨率</td>
      <td>云盖量</td>
    </tr>

    <tr
      *ngFor="let item of shijing"
      (click)="addImg(item.entityId, item.sceneId)"
    >
      <td>{{ item.entityId }}</td>
      <td>{{ item.acquireTime }}</td>
      <td>{{ item.sateId }}</td>
      <td>{{ item.resolution }}</td>
      <td>{{ item.cloudCover }}%</td>
    </tr>
  </table>
</div> -->
